<div class="app">
  <div class="container" role="main">
    <div class="app-content">
      <div class="text-dark text-center p-3 logo">
        <i>
          {{ title }}
        </i>
      </div>
      <div class="">
        <div class="col-12"></div>
        <form-add [errorMessage]="errorMessage" (addItem)="addItem($event)" (closeAlert)="closeAlert()"></form-add>
        <div *ngIf="(todoList.length === 0)">
          <ngb-alert type="warning" [animation]="false" [dismissible]="false">
            В данный момент в вашем списке нет заданий
          </ngb-alert>
        </div>
        <div *ngIf="(todoList.length > 0)">
          <div style="display:block; max-height: 500px; overflow-y: auto;">
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let task of todoList, index as i" cdkDrag>
                <task-list [task]='task' (removeItem)="removeItem(i)"></task-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>